langchain
langsmith
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-huggingface
huggingface-hub
transformers
sentence-transformers
sentencepiece
accelerate
bitsandbytes
chromadb
python-dotenv
pypdf
youtube-transcript-api
wikipedia

# Machine Learning Utilities
numpy
scikit-learn